.spending-container {
  width: 50%;
  min-width: 350px;
  height: 250px;
  border-radius: 10px;
  border-radius: 11px;
  background: #fcfcfc;
  box-shadow: 5px 5px 4px #efefef, -5px -5px 4px #ffffff;
  position: relative;
  right: 50%;
  left: 50%;
  top: 50px;
  transform: translate(-50%);
}

.circle-content {
  position: absolute;
  text-align: center;
  pointer-events: none;
}